.body{
    font-family: 'Montserrat', sans-serif;

}
.header{
    width: 100%;
    max-width:1920px;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: #4A5767;
}
.ibc-lang-selector{
    list-style-type: none;
    color: #FFFFFF;

}
.ibc-lang-selector>li>a {
    color: #FFFFFF;
}
.nav{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    align-items: center;
    font-weight: 400;
}
.nav>li>a{
    margin-left: 90px;
    color: #FFFFFF;
}
.nav_btn{
    background-color:#0775CD;
    border-radius: 3px;
    padding: 10px 15px;
    font-weight: 700;
    color: #FFFFFF;
    border: none;
    margin-left: 90px;
}
.logo_img{
    display: block;
    width: 45px;
    height: 26px;
    background-image: url("../img/logo.svg");
}
.header-text{
    background: #4A5767;
    display: flex;
    padding-top: 107px;
    justify-content: space-between;
    padding-bottom: 32px;
}
.header-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    color: #FFFFFF;
    line-height: 85px;
    padding-left: 5%;
}
.header-h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 150%;
    letter-spacing: 0.01em;
    padding-right: 102px;
}
.wrap{
    width: 100%;
    max-width:1920px;
    margin: 0 auto;
}
.page{
    padding-top:40px;
    padding-bottom: 40px;
    padding-left: 5%;
    padding-right: 10%;
}
.krit-item {
    display: flex;
    flex-direction: column;
    column-gap: 115px;
    row-gap: 20px;
}
.krit-img-big {
    grid-row-start: span 2;
}
.img_about{
    max-width:1920px;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 10%;
    padding-bottom: 110px;
}
.conteiner_img_about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;


}
.images-1 {
    box-sizing: border-box;
    width: 510px;
    height: 435px;
    background: #EBECEF;
    border: 1px solid #FFFFFF;
    border-radius: 7px;

}
.images-1 h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.01em;
    color: #04447D;

}
.images-1 p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.01em;
    color: #1D1C1C;

}
.images-2{
    box-sizing: border-box;
    width: 509px;
    height: 435px;
    background: #EBECEF;
    border: 1px solid #FFFFFF;
    border-radius: 7px;

}
.images-2 h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.01em;
    color: #04447D;

}
.images-2 p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.01em;
    color: #1D1C1C;

}
.images-3{
    box-sizing: border-box;
    width: 510px;
    height: 435px;
    background: #EBECEF;
    border: 1px solid #FFFFFF;
    border-radius: 7px;
}
.images-3 h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.01em;
    color: #04447D;

}
.images-3 p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.01em;
    color: #1D1C1C;

}
.client{
    max-width:1920px;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 10%;
    background: #EBECEF;
    padding-bottom: 120px;
}
.conteiner-client-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:30px 30px;
}
.client-h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.01em;
    color: #04447D;
}
.client-img{
    box-sizing: border-box;
    width: 510px;
    height: 394px;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 7px;
}
.questions{

}
.questions_title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
    padding-top: 70px;
}
.questions-btn{
    display: flex;
    justify-content:center;
    margin-top: 32px;
    margin-bottom: 68px;
}
.ques-btn{
    background: #0775CD;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.005em;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 20px 40px 16px;
    gap: 10px;

}